body {
    background-image: #ffffff;
    font-family: Arial, sans-serif;
}

.main_part {
    width: 98%;
    margin: auto;
    padding: 10px;
    text-align: left;
    background-color: blue;
}

.images {
    height: auto;
    max-width: 100%;
}