body {
    background-image: url("site_background.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    margin: 0;
    width: 100%;
    height: 100%;
}

.images {
    height: auto;
}
.t100 {max-width: 100%;}
.t95 {max-width: 95%;}
.t90 {max-width: 90%;}
.t85 {max-width: 85%;}
.t80 {max-width: 80%;}
.t75 {max-width: 75%;}
.t70 {max-width: 70%;}
.t65 {max-width: 65%;}
.t60 {max-width: 60%;}
.t55 {max-width: 55%;}
.t50 {max-width: 50%;}
.t45 {max-width: 45%;}
.t40 {max-width: 40%;}
.t35 {max-width: 35%;}
.t30 {max-width: 30%;}
.t25 {max-width: 25%;}
.t20 {max-width: 20%;}
.t15 {max-width: 15%;}
.t10 {max-width: 10%;}
.t05 {max-width: 5%;}
.t02 {max-width: 2%;}
.at_top {
    position: fixed;
    top: 0;
    width: 100%;
}
.at_bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button_g {
    color: rgb(153, 130, 0);
    background-color: beige;
    font-size: 1.5rem;
    border: 2px solid rgb(153, 130, 0);
    border-radius: 20px;
    width: 15rem;
    height: 3rem;
}
.grey {background-color: dimgray;}

.buttons { /*les deux boutons anglais et tp*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: beige;
    border-bottom: 2px solid rgb(153, 130, 0);
}
.header h2 {
    margin-left: auto;
    text-align: right;
    margin-right: 1rem;
    color: rgb(153, 130, 0);
}
.centered_div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    position: fixed;
    top: 4.2rem;
    bottom: 8rem;
    left: 0;
    right: 0;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.white_text {
    color: beige;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.4;
}

.hided_button {
    width: 4rem;
    height: 4rem;
    opacity: 0;
}


@media (min-aspect-ratio: 16/15) and (max-aspect-ratio: 16/9) {
    body {
        background-repeat: repeat;
        background-size: 50% auto;
    }
}

@media (min-aspect-ratio: 16/10) {
    body {
        background-repeat: repeat;
        background-size: 33.333% auto;
    }
}
@media (max-aspect-ratio: 10/18) {
    .button_g {
        width: 35rem;
        height: 10rem;
        font-size: 5rem;
    }
}
